/* apply a natural box layout model to all elements */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* General */
body {
  background-color: #269100;
  color: DarkGreen;
}

.container {
  max-width: 1050px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 2.0em 0.5em;
}

/* Utilities */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  border: 0;
}

/* Typography */
/* https://fonts.google.com/
Merriweather - light - headlines
Montserrat - light, normal - body copy */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

p, td, li, small, figcaption, address {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

/* Links */
a:link, a:visited {
    color: #134611;
    text-decoration: none;
}

a:active, a:hover {
    color: lime;
}

/* Navigation */
nav {
}

nav .container {
  padding: 1.0em 0.5em;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style-type: none;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

/* Header */
header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('../images/outdoors.jpg') no-repeat center center;
  background-size: cover;
}

header .container {
    display: flex;
    justify-content: center;
}

header.img {
	width: 20px;
}

.branding {
  padding: 0.5em 0 1.5em;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
}

.branding img {
	width: 20em;
	padding-right: 50px;
}

/* Highlights */
.highlights {
  background-image: radial-gradient(#3e8914 0%, #82b7c0 100%);
}

.highlights .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.highlights section {
  background-color: white;
  color: DarkGreen;
  padding: 15px 30px;
  margin: 1.0em 10px 1.0em;
}

.highlights li {
  color: DarkGreen;
  text-align: left;
  margin: 10px;
}

/* Gallery */
.gallery {
}

.gallery h2, .gallery p {
  color: #ffffff;
}

.gallery h2 {
  font-size: 24px;
  margin-bottom: 0;
}

h2 + p {
  margin-top: 0.5em;
}

.gallery section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.gallery figure {
  margin: 0 0.5em 1.0em;
  padding: 0;
  border-radius: 5px;
  background: white;	  
}

.gallery figcaption {
  text-align: center;
  padding-left: 0.5em;
  font-size: 14px;
  margin: 0.5em;
}

.gallery img:hover {
  opacity: 0.9;
}

/* Footer */
footer {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-size: cover;
}

/* flexbox container */
footer .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

footer p, footer address {
  margin: 0;
  padding: 0 0 0.5em 0;
  font-style: normal;
  line-height: 1.3em;
  text-align: left;
  color: #ffffff;
}

footer i {
  margin-right: 16px;
}

footer a i {
  color: SkyBlue;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

footer a:hover i {
  color: blue;
}

/* RWD Test */
#rwd {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 20px;
  background-color: red;
}


/* MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #rwd { background-color: orange; }
  header { background-position: center center; }
  .branding { width: 75%; }
  form {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
  }
  form .input {
      flex: 1;
      height: inherit;
      margin: 0 15px;
  }
  form .label { line-height: 3.0em; }
  form .button { display: inline-block; margin: 0; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #rwd { background-color: lime; }
  .logo img { width: 225px; }
  nav ul { max-width: 600px; margin: 0 auto; }
  .branding h1 { font-size: 36px; }
  .gallery h2, .video h2 { font-size: 36px; }
  .gallery p, .video p {
      font-size: 24px;
      padding-left: 4.0em;
      padding-right: 4.0em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #rwd { background-color: blue; }
  header .container { padding: 5.0em 0.5em; }
  .branding h1 { font-size: 42px; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #rwd { background-color: green; }
  .branding h1 { font-size: 48px; }
}
